{% extends "base.html" %}
{% block body %}
<article>
  <h2>{{ post.title }}</h2>
  <p class="text-info">
    Published: <time pubdate="pubdate">{{ post.published.strftime('%d %B %Y') }}</time>
  </p>
  <p>
    {{ post.content|safe }}
  </p>
  {% for tag in post.tags %}
    <span class="badge badge-info">{{ tag.name }}</span>
  {% endfor %}
</article>
<ul class="pager">
  <li class="previous">
    <a href="{{ url_for('display_posts') }}">&larr; Back to posts</a>
  </li>
</ul>
{% endblock %}