{% extends "base.html" %}
{% block body %}
  <ul class="media-list">
  {% for entry in posts %}
    <li class="media">
      <div class="media-body">
        <h3 class="media-heading"><a href="">{{ entry.title }}</a></h3>
        <p class="text-info">November 15th, 2012</p>
        <p>
          {{ entry.content|safe }}
        </p>
        <small>
          Tags:
          JavaScript,
          Workflow,
          IDE
        </small>
      </div>
    </li>
  {% else %}
    <li><strong>Sorry,</strong> no posts so far.</li>
  {% endfor %}
  </ul>
{% endblock %}